/* modification de l'ensemble du texte */
* {
	font-size:16px;
	font: inherit;
}

html
{
	font-family : 'New Roman', sans-serif;
	font-size : 62.5%;
	margin: 0px 2px;
}

/* 
  ### Balises de texte général ####
 */

h1
{
	font-family : 'New Roman';
	font-size : 1.25em; /* soit 20px */
	font-weight : bold;
	line-height : 120%;
}

h2
{
	font-family : 'New Romain';
	font-size : 1.125em; /* soit 18px */
	font-weight : normal;
	font-variant: small-caps;
	line-height : 120%;
}

p, a {
}

cite
{
	line-height : 80%;
	font-style: italic;
	font-variant: small-caps;
	font-size: 1em;
}


/*
 #### Organisation des boxes et des ensembles 
 */

/* 
 #### Organisation de l'header ####
 */

header {
	padding: 0;
	margin: 0 0 0.002% 0;

	background-color: #686868;
	opacity: 0.90;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header h1  {
	font-size: 2.75em;
	font-variant: small-caps;
	font-style: italic;
	line-height: 0em;
	text-shadow: #B5B5B5 -5px 3px 4px;
}

#nom-site {
	flex: 1;
	text-align: center;
}

#login {
	padding: 0 0.5% 0 0.5%;
}


/* 
 * #### Organisation de la partie principale du site
 */
main {
	display: flex;
	flex-flow: row nowrap;	
}

section {
	padding: 0 5% 0 0.5%;
}

/* 
 * #### organisation du bas de page 
 */

footer
{
	display: block;
	margin: 0 0 0 0;
	padding: 0.05% 0 0.05% 0;
	text-align: center;
	background-color: #686868;
}

footer p {
	font-size: 0.625em;
	line-height: 0em;

}



/* Paramètres des tableaux et des cases de tableau */
td,th
    {
           border: 1px solid black ; /* les cellules ont une bordure visible de 1 px */
       }

table
       {
           border-collapse : collapse ; /* les bordures sont jointes */
    }

    th
    {
        background : grey ;
    }
