/* modification de l'ensemble du texte */
* {
	font-size:16px;
	font: inherit;
}

html
{
	font-family : 'New Roman', sans-serif;
	font-size : 62.5%;
	margin: 0px 2px;
}

/* 
  ### Balises de texte général ####
 */

h1
{
	font-family : 'New Roman';
	font-size : 1.25em; /* soit 20px */
	font-weight : bold;
	line-height : 120%;
    font-color: #FFF
}

h2
{
	font-family : 'New Romain';
	font-size : 1.125em; /* soit 18px */
	font-weight : normal;
	font-variant: small-caps;
	line-height : 120%;
}

p, a {
}

strong{
    font-weight: bold;
}

cite
{
	line-height : 80%;
	font-style: italic;
	font-variant: small-caps;
	font-size: 1em;
}

li
{
}

/*
 #### Organisation des boxes et des ensembles 
 */

/* 
 #### Organisation de l'header ####
 */

header {
	padding: 0;
	margin: 0 0 0.002% 0;

	background-color: #686868;
	opacity: 0.90;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}


header h1  {
	font-size: 2.75em;
	font-variant: small-caps;
	line-height: 0em;
    font-color: black;
    
}

#nom-site {
	flex: 1;
}


#login {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    padding: 0 0.5% 0 0.5%;
}

/*
 * menu-sidebar's structure
 */
#menu {
    padding: 0 2% 0 0;
    margin: 0 2.5% 0 0;
	background-color: #686868;
	opacity: 0.90;
}

#menu ul {
    list-style: none;
    padding: 0 0 0 9%;
}

#menu li {
}

#menu #Archeologie li {
    padding: 0 0 0 2%;
}

#menu #inventaires li{
    padding: 0 0 0 2%;
}

#menu #annuaire li{
    padding: 0 0 0 2%;
}

/* 
 * #### Organisation de la partie principale du site
 */
main {
	display: flex;
	flex-flow: row nowrap;	
}


/* Parameter for the index.php menu of Databases */
.accesDB {
	padding: 0 5% 0 0.5%;
    display: flex;
    flex-flow: row nowrap;
}

.accesBD h2 {
    display: block;
    background-color: black;
    font-color: white;
    text-align: center;
}

.accesDB ul {
    list-style-type: none;
    padding: 0 0 0 2%;
    margin: 0;
}

.accesDB li {
    padding: 0 0.5%;
    text-align: center;
}

.accesDB li a { 
    display:block;
    padding: 2% 5%;
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
    text-color: white; /* à modifier, ne fonctionne pas pour le moment!!! */
}

.biblio, .jeuxVideo, .film {
    flex: 1 1 auto;
    padding: 0.5%;
    border: 1px solid black;
    margin: 0.5%;
    border-radius: 9px;
}

/* 
 * #### organisation du bas de page 
 */

footer
{
	display: block;
	margin: 0 0 0 0;
	padding: 0.05% 0 0.05% 0;
	text-align: center;
	background-color: #686868;
}

footer p {
	font-size: 0.625em;
	line-height: 0em;

}



/* Paramètres des tableaux et des cases de tableau */
td,th
    {
           border: 1px solid black ; /* les cellules ont une bordure visible de 1 px */
       }

table
       {
           border-collapse : collapse ; /* les bordures sont jointes */
    }

    th
    {
        background : grey ;
    }
